.top-Auth .background-Auth {
    z-index: -1;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.top-Auth .interactive-Auth{
    z-index: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-height: 100vh;
    flex-direction: column;
}

.top-AuthForm {
    padding-top: 64px;
}

.top-AuthForm a {
    color: #3f51b5;
}