.top-Home .background-Home {
	z-index: -1;
	width: 100vw;
    height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.top-Home .interactive-Home {
	z-index: 0;
	width: 100vw;
    height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.top-Home .interactive-Home .presentation-text {
	color: white;
	text-decoration: none;
	position: absolute;
	left: 50%;
	width: 80%;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	transform: translateX(-50%);
	bottom: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
