.top-WithDropZone {
    width: 100%;
}

.DropZone {
	width: initial;
	height: initial;
    border-width: 0;
    border-color: transparent;
    border-style: none;
    border-radius: 0;
    cursor: pointer;
}

.DropZone-disabled {
	cursor: progress;
}