.top-NavItemWithRouter {
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

.top-NavItemWithRouter a {
	text-decoration: none;
	color: white;
}

.NavItemIcon {
	width: 40px;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}